/* ------------ BASE --------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #171717;
  color: #AD794E;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

form {
  display: flex;
}

a:visited {
  color: inherit;
}

button:hover {
  cursor: pointer;
}

.btn {
  border: 2px solid #AD974F;
  background-color: #FFF;
}

/* ------------ LAYOUT --------------- */

.l-banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "personal btns"
  "hot-links hot-links"
}

.l-banner .hot-links {
  grid-area: hot-links;
}

.l-header {
  display: grid;
  grid-template-columns: 100px 1fr 300px;
  height: 60px;
}

.l-header .search-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.l-main {
  display: grid;
}

.l-summary {
  width: 100vw;
}

/* ------------ MODULES --------------- */

.align-right {
  text-align: right;
}

/* Header */

.slide-right {
  margin-left: 280px;
  transition: .3s;
}

.search-bar input {
  background-color: #fff;
  border: none;
  border-left: 1px solid #AD794E;
  border-right: 1px solid #AD794E;
  font-size: 20px;
  font-weight: 600;
  height: 100%;
  letter-spacing: 1px;
  width: 100%;
}

.search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.53);
  font-size: 1rem;
  font-weight: 700;
  padding-left: 1rem;
}

.search-icons div {

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icons i {
  color: #AD974F;
  font-size: 34px;
  transition: all .5s ease;
}

   /* Menu toggle */

  .toggle-button {
    margin: auto;
    position: relative;
    transition: .25s;
    width: 34px;
    z-index: 15;
  }
  .toggle-button:hover {
    cursor: pointer;
  }
  .menu-bar {
    display: flex;
    border-radius: 2px;
    transition: .1s;
    width: 100%;
  }
  .menu-bar-top {
    border: 2px solid #AD974F;
    border-bottom: none;
    top: 5px;
  }
  .menu-bar-middle {
    height: 2px;
    background-color: #AD974F;
    margin-top: 4px;
    margin-bottom: 4px;
    top: 9px;
  }
  .menu-bar-bottom {
    border: 2px solid #AD974F;
    border-top: none;
    top: 22px;
  }
  .button-open .menu-bar-top {
    transform: rotate(45deg) translate(8px, 8px);
    transition: 1.5s;
  }
  .button-open .menu-bar-middle {
    transform: translate(230px);
    transition: 2s cubic-bezier(1,-0.2, 1, 1);
    opacity: 0;
  }
  .button-open .menu-bar-bottom {
    transform: rotate(-45deg) translate(8px, -7px);
    transition: 1.5s;
  }


/* Nav Menu */

.menu-wrap {
    background-color: #fff;
    color: #AD974F;
    font-size: 1em;
    font-weight: 500;
    height: 100%;
    margin-left: -280px;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 0;
    transition: .25s;
    width: 280px;
    z-index: 10;
}

.menu-wrap h2 {
  margin: 10px;
  text-align: center;
  font-style: italic;
}

.menu-wrap h3 {
  font-size: 12px;
  padding-left: 20px;
  text-align: left;
}

.menu-portrait {
  border: 2px solid #AD974F;
  border-radius: 50%;
  height: 110px;
  margin: 30px auto 20px;
  width: 110px;
}

.menu-show {
    margin-left: 0;
}

.menu-sidebar {
  border-top: 3px solid #AD974F;
  height: 100%;
}

.menu-sidebar li {
  background-color: #FFF;
  border-left: 6px solid #AD974F;
  color: #171717;
  height: 100%;
  padding: 20px 0 10px 20px;
  text-align: left;
}

ul.menu {
  display: flex;
  flex-direction: column;
  height: 30%;
  list-style: none;
}

ul.menu i::before {
  font-size: 10px;
  margin-right: 15px;
  position: relative;
  bottom: 1px;
}

.menu-sections {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  margin: 2rem 0;
}

/* .menu-sidebar li > a::after {
    content: "";
    display: block;
    height: 0.15em;
    position: absolute;
    top: 100%;
    width: 102%;
    left: 50%;
    transform: translate(-50%);
    transition: background-position .2s .1s ease-out;
    background-size: 200% auto;
} */

.menu-sidebar li > a:hover::after {
    background-position: -100% 0;
}

/* normal button style */
.menu-btns {
    width: 100%;
    height: 30px;
    text-align: center;
    color: #FFF;
    position: relative;
}
/* button hover style if required */
.menu-btns:hover {
  cursor: pointer;
  color: rgba(232, 179, 3, 0.43)
}
/* generated element for shine effect.
 * normal state is semi-transparent
 * white but with zero width. Set no
 * transition here for no mouse-leave
 * animations. Otherwise the effect
 * will play in reverse when your mouse
 * leaves the element
 */
.menu-btns:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(232, 179, 3, 1);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

}
/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out
 */
.menu-btns:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -ms-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
}



/* Banner */

.actions {
  border-left: 2px solid #AD974E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions button {
  color: #040404;
  margin: 1rem;
}

.btn-circle {
  border-radius: 50%;
  height: 40px;
  padding: 3px;
  width: 40px;
}

.btn-circle i {
  font-size: 12px;
  opacity: .7;
}


.btn-text {
  align-items: center;
  border-radius: 20px;
  display: flex;
  height: 40px;
  justify-content: center;
  text-transform: uppercase;
  padding: 5px;
  width: 80px;
  font-size: 13px;
}

.btn-text i {
  font-size: 10px;
  margin-right: 3px;
  color: #040404;
}

.hot-links a {
  color: #171717;
  margin: 1rem;
  padding: 25px 0;
  position: relative;
  top: 50px;
}

.hot-links i {
  margin: 1rem 10px;
}

.hot-links i::before {
  font-size: 20px;
}

.m-banner {
  background-color: #FFF;
  border-top: 2px solid #AD794E;
  color: #040404;
}

.info {
  margin-left: 1rem;
}

.info p {
  margin: 0;
  width: 200px;
}

.info i {
  color: #AD794E;
  margin: 0 5px;
}

.info i:last-of-type {
  font-size: 3px;
  position: relative;
  top: -3px;
}


.inline {
  display: inline;
}

/* Job Summary */

.m-summary {
  background-color: #EAF1F5;
  padding: 2rem;
}


  /*  Graphs  */

#circle-btn {
  grid-column: 1/4;
  margin: auto;
  font-size: 14px;
  width: 250px;
}

#graph-btn {
  font-size: 14px;
  margin: 12.5px;
  width: 150px;
}

section.data {
  background-color: #171717;
  display: grid;
  grid-template-columns: 4fr 3fr;
  height: 350px;
}

section.data button {
  border: 1px solid rgba(142, 142, 142, .4);
  border-radius: 10px;
  height: 30px;
  padding: 2px;
}

.circular-chart {
  display: inline-block;
  margin: 10px auto;
  max-width: 80%;
  height: 250px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 4s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }

  60% {
    stroke-dasharray: 100 100;
  }
}

.circles {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  text-align: center;
  text-transform: uppercase;
}

.outline-circle {
  stroke: #FFF;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

.graph {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.graph img {
  border-top: 5px solid #AD974E;
  border-bottom: 5px solid #AD974E;
  margin: 20px auto;
  max-width: 80%;
  max-height: 350px;
}

.percentage {
  fill: white;
  font-size: 5px;
  font-weight: 800;
}

.chart-text {
  fill: #AD974E;
  font-size: 2px;
}

/* Hr Split */

.split {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.split hr {
  border: 3px solid #8E793E;
  display: inline-block;
  width: 37%;
}

.split i {
  text-align: center;
  width: 4%;
}

.split i::before {
  border: 2px solid #8E793E;
  border-radius: 50%;
  padding: 8px;
}

  /* Job Description */

.job-details {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-gap: 65px;
  margin: 3rem;
}

.job-details aside {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

  /* Table */

.description-table {
  border-collapse: collapse;
  height: 100%;
  line-height: 22px;
  width: 100%;
}

.description-table thead {
  background-color: #AD974E;
  color: #FFF;
}

.description-table th {
  padding: 1rem;
}

.edit-btn {
  background: none;
  border-radius: 20px;
  color: #FFF;
  padding: 10px;
}

.description-table tbody {
  background-color: rgb(230, 230, 230);
  color: #040404;
}

.description-table tbody tr {
  margin: 0 10px;
}

.description-table tbody tr:last-child td {
  border: none;
}

.description-table tbody td {
  border-bottom: 1px solid gray;
  padding: 20px 1rem;
}

.description-table tbody td:nth-of-type(2) {
  vertical-align: top;
  font-weight: 800;
}

.description-table th {
  height: 80px;
}
.description-table .hiring-lead {
  display: flex;
  align-items: center;
}

.description-table .hiring-lead img {
  border-radius: 50%;
  height: 50px;
  margin: 0 1rem;
  width: 50px;
}

.description-table .limiter {
  border: none;
}

  /* Aside */

.social-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5% 0;
}

.social-btns button {
  align-items: center;
  border: none;
  display: flex;
  font-weight: 500;
  justify-content: space-around;
  height: 50px;
  padding: 0 90px 0 0px;

}

.m-link-box {
  color: #FFF;
}

.m-link-box .container {
  height: 50%;
}

.m-link-box span {

}

.m-link-box i,
.m-link-box h4 {
  color: #AD974E;
  display: inline-block;
  margin: 10px 5px;
}

.m-link-box p {
  line-height: 25px;
  margin: 10px 5px;
}

.m-link-box input,
.m-link-box button {
  border: none;
  height: 50px;
  margin: 10px 0 30px;
  text-align: center;
}

.m-link-box input {
  width: 75%;
}

.m-link-box button {
  background-color: #AD974E;
  border: none;
  width: 25%;
}

/* ------------ STATE --------------- */

.hide-for-desktop {
  display: none;
}

a:hover {
  color: #AD794E;
  font-weight: 500;
}

.actions button:hover {
  color: #8E793E;
}

.btn:hover {
  border: 2px solid #AD974F;
}

.btn-text:hover i {
  font-size: 10px;
  margin-right: 3px;
  color: #8E793E;
}

.hot-links a:hover {
  color: #8E793E;
  border-bottom: 5px solid #8E793E;
}

.search-icons div:hover i {
  color: #171717;
  transform: scale(1.1);
}

.search-icons div:hover {
  background-color: #bfa758;
  cursor: pointer;
}

.toggle-button:hover .menu-bar-top,
.toggle-button:hover .menu-bar-middle,
.toggle-button:hover .menu-bar-bottom {
  border: 2px solid #bfa758;
}

.search-bar input:focus::placeholder {
  opacity: 0;
}

.split i:hover::before {
  border: 2px solid #FFF;
  cursor: pointer;
}

#graph-btn:hover,
#circle-btn:hover {
  background-color: #8E793E;
  color: white;
}

@media only screen and (max-width: 920px) {

  .hide-for-desktop {
    display: contents;
  }

  .hide-for-tablet {
    display: none;
  }

  /* Layout */

  .l-header {
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "menu icons"
    "search search";
    height: 100px;
  }

  .search-bar {
    border-bottom: 2px solid #000;
    grid-area: search;
  }

  .hide-for-desktop {
    display: grid;
    grid-template-columns: 150px repeat(2, minmax(100px, 1fr));
    grid-template-rows: 150px 550px 300px repeat(2, 1fr);
    grid-template-areas:
    "info info actions"
    "hot-links circles circles"
    "buttons graph graph"
    "tables tables tables"
    "social social social"

  }

  .info {
    background-color: #FFF;
    color: #000;
    grid-area: info;
    margin: 0;
    padding-left: 1rem;
  }

  .actions {
    background-color: #FFF;
    grid-area: actions;
  }

  .actions section {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }

  .actions-tablet {
    display: flex;
    justify-content: space-around;
  }

  .actions-bigbtn-tablet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .hot-links {
    align-items: stretch;
    grid-area: hot-links;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-around;
    transition: all 1.5s ease;
  }

  .circles {
    align-items: center;
    grid-area: circles;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 550px;
  }

  .graph {
    grid-area: graph;
    height: 300px;
  }

  .btns-tablet {
    display: block;
    grid-area: buttons;
    height: 300px;
    padding-top: 90px;
    text-align: center;
    width: 200px;
  }

  .description-table {
    grid-area: tables;
  }

  .social-tablet {
    grid-area: social;
  }

  .social-btns {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .social-btns button {
    display: inline-block;
    padding: 10px;
    margin: 10px 15px;

  }

  .social-btns i {
    padding-right: 15px;
  }

  .m-link-box {
    margin: 10px 60px;
  }

  /* ------------ */

  .actions .btn-text {

  }

  .btn-circle {
    margin: 1rem;
  }

  .btns-tablet label {
    font-size: 20px;
    word-wrap: break-word;
  }

  #circle-btn {
    background: none;
    border: none;
    color: #FFF;
    display: block;
    width: auto;
  }

  #graph-btn {
    background: none;
    border: none;
    color: #FFF;
    width: auto;
  }

  .circular-chart {
    max-width: 200px;
  }

  .graph img {
    margin: 0;
  }

  .hot-links .active {
    left: 0;
  }

  .hot-links a {
    background-color: #dbb023;
    color: #171717;
    margin: 0;
    text-align: center;
    top: 0;
    left: -127px;
  }

  .hot-links a:hover {
    color: #171717;
    border-bottom: none;
    left: 0;
    transition: .3s;

  }

}

@media only screen and (max-width: 590px) {

  .hide-for-desktop {
    display: contents;
  }

  .hide-for-mobile {
    display: none;
  }

  .description-table .limiter {
    display: none;
  }

  /* Layout */

    .l-header {
      grid-template-columns: 100px 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
      "menu icons"
      "search search"
    }

    .search-bar {
      grid-area: search;
    }

    .l-banner {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
      "Job Job"
      "Actions Actions"
      "HotLinks HotLinks";

      width: 100vw;
    }

    .info {
      grid-area: Job;
    }

    .actions {
      grid-area: Actions;
    }

    .hot-links.hide-for-desktop {
      grid-area: HotLinks;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .circles {
      display: block;
      text-align: center;
      text-transform: uppercase;
      height: 100%;
    }

    section.data {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
      "circles"
      "graph";

      max-height: 1300px;
      width: 100vw;
    }

    .circles {
      grid-area: circles;
    }

    .graph {
      grid-area: graph;
    }

    .job-details {
      display: block;
      margin: 0;
    }

  /*---------------------------*/

  .menu-wrap {
    width: 205px;
  }

  .slide-right {
    margin-left: 205px;
    overflow: hidden;
  }

  .actions {
    border: none;
  }

  .social-btns button {
    margin: 10px auto;
    width: 60%;
  }

  .hot-links a {
    margin: 0;
    padding: 0;
    position: static;
  }

  .hot-links div {
    align-items: center;
    display: flex;
    font-weight: 500;

    padding: 0 10px;
    height: 50%;
    justify-content: space-between;
    border-top: 2px solid #AD974E;
    width: calc(320/3);
  }

  .hot-links a {
    color: #040404;
    margin: auto;
  }

  .active-btn {
    background-color: rgb(170, 152, 6);

  }

  .active-btn a {
    color: #FFF;
  }

  .opacity {
    background-color: rgba(117, 103, 4, 0.4);
  }

  .opacity:first-of-type {
    width: 30px;
    display: none;
  }

  .opacity:last-of-type {
    display: none ;
    justify-content: flex-end;
    width: 30px;

  }

  .btns-tablet {
    height: auto;
    padding: 0;
    width: auto;
  }

  #graph-btn {
    display: block;
    margin: 1rem auto;
  }

  #circle-btn {
    margin: 1rem auto;
  }


  .hot-links a:hover {
    color: #040404;
    border-bottom: none;
  }

  .hot-links div:hover {
    cursor: pointer;
  }

  .active-btn a:hover {
    color: white;
  }

  .circular-chart {
    display: block;
    margin: 20px auto;
    height: 250px;
    transition: all 1s ease;
    max-width: 70%;
  }

  .graph {
    justify-content: normal;
    text-align: center;
  }

  .graph img {
    margin: 50px auto ;
    max-width: 80%;
    max-height: 350px;
    text-align: center;
  }

  .m-link-box {
    text-align: center;
  }
}
/* ------------ THEMES --------------- */

.big-icon {
  font-size: 26px;
}

.fa-facebook {
  color: #3B5998;
}

.fa-twitter {
  color: #08A0E9;
  color: #08A0E9;
}

.fa-linkedin {
  color: #0077B5;
}


.red-stroke {
  stroke: #dbb023;
}

.green-stroke {
  stroke: #dbb023;
}

.purple-stroke {
  stroke: #dbb023;
}

#black-text {

}

/* Minor tweaks */

.fa-twitter::before {
  margin: 0 0 0 -5px;
}



/* Colors */
/*
background-black: #040303;
text-gold: #AD974F;
line-gold: #8E793E;
bright-gold: #dbb023;
background-black: #040303; */
